/*- Green -*/
/*- Red -*/
/*- Blue -*/
/*- Off White -*/
/*- Almost Black -*/
/*- Almost Black -*/
.logo {
  width: 80px;
  margin: 10px;
  border-radius: 20px;
  animation-name: jello;
  animation-duration: 5s;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
@media (max-width: 500px), (max-width: 800px), (max-width: 3000px) {
  body {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    font-family: "Kavoon", cursive;
  }
  body .nav-wrapper {
    margin: 0;
    position: fixed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 130px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1;
  }
  body .nav-wrapper img {
    width: 80px;
    margin: 10px;
    border-radius: 20px;
    animation-name: jello;
    animation-duration: 5s;
  }
  body .nav-wrapper nav a {
    border-radius: 20px;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border: none;
    background: rgba(0, 0, 0, 0.486);
    color: rgba(253, 253, 253, 0.541);
    cursor: pointer;
    text-decoration: none;
  }
  body .nav-wrapper nav a:hover {
    background: rgba(0, 0, 0, 0.747);
    text-decoration: none;
    color: #f3f3f5;
  }
  body .nav-wrapper nav a:active {
    background: rgba(0, 0, 0, 0.747);
    text-decoration: none;
    color: rgba(255, 0, 0, 0.514);
  }
  body .profile {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    width: fit-content;
    color: rgba(253, 253, 253, 0.541);
    margin-top: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .profile .text {
    width: 300px;
    padding: 20px;
    margin: 10px;
    color: rgba(253, 253, 253, 0.541);
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }
  body .profile img {
    border-radius: 20px;
    padding: auto;
    margin: auto;
  }
  body .content {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .recent-feed {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    align-items: center;
    width: fit-content;
    color: rgba(253, 253, 253, 0.541);
  }
  body .recent-feed .text {
    width: 300px;
    padding: 20px;
    margin: 10px;
    color: rgba(253, 253, 253, 0.541);
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }
  body .map {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    align-items: center;
    width: fit-content;
    color: rgba(253, 253, 253, 0.541);
    margin-top: 150px;
  }
  body .map .text {
    width: 300px;
    padding: 20px;
    margin: 10px;
    color: rgba(253, 253, 253, 0.541);
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }
  body .footer {
    bottom: 0 ;
    margin: 0;
    position: fixed;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  body .slideshow-container {
    border-radius: 20px;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  body .prev,
  body .next {
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }
  body .next {
    right: 0;
    border-radius: 20px;
  }
  body .prev:hover,
  body .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  body .text {
    font-size: 10px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  body .numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  body .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  body .active,
  body .dot:hover {
    background-color: #717171;
  }
  body .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  body #myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
  }
}
@media (max-width: 500px) and only screen and (max-width: 300px), (max-width: 800px) and only screen and (max-width: 300px), (max-width: 3000px) and only screen and (max-width: 300px) {
  body .prev,
  body .next,
  body .text {
    font-size: 11px;
  }
}
