/*- Green -*/
/*- Red -*/
/*- Blue -*/
/*- Off White -*/
/*- Almost Black -*/
/*- Almost Black -*/
.logo {
  width: 80px;
  margin: 10px;
  border-radius: 20px;
  animation-name: jello;
  animation-duration: 5s;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
@media (max-width: 500px), (max-width: 800px), (max-width: 3000px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
  }
  body .nav-wrapper {
    margin: 0;
    position: fixed;
    border-radius: 5px;
    height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1;
  }
  body .nav-wrapper img {
    width: 80px;
    margin: 10px;
    border-radius: 20px;
    animation-name: jello;
    animation-duration: 5s;
  }
  body .nav-wrapper nav a {
    border-radius: 5px;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border: none;
    background: rgba(0, 0, 0, 0.486);
    color: rgba(253, 253, 253, 0.541);
    cursor: pointer;
    text-decoration: none;
  }
  body .nav-wrapper nav a:hover {
    background: rgba(0, 0, 0, 0.747);
    text-decoration: none;
    color: #f3f3f5;
  }
  body .nav-wrapper nav a:active {
    background: rgba(0, 0, 0, 0.747);
    text-decoration: none;
    color: rgba(255, 0, 0, 0.514);
  }
  body .profile {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    width: fit-content;
    color: rgba(253, 253, 253, 0.541);
    margin-top: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .profile .text {
    width: 300px;
    padding: 20px;
    margin: 10px;
    color: rgba(253, 253, 253, 0.541);
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }
  body .profile div {
    padding: 10px;
    margin: 20px;
  }
  body .content {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .recent-feed {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    align-items: center;
    width: fit-content;
    color: rgba(253, 253, 253, 0.541);
  }
  body .recent-feed .text {
    width: 300px;
    padding: 20px;
    margin: 10px;
    color: rgba(253, 253, 253, 0.541);
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }
  body .map {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    align-items: center;
    width: fit-content;
    color: rgba(253, 253, 253, 0.541);
    margin-top: 150px;
  }
  body .map .text {
    width: 300px;
    padding: 20px;
    margin: 10px;
    color: rgba(253, 253, 253, 0.541);
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }
  body #myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
  }
}
