* {
  box-sizing: border-box;
}

body { 
 
  @media @phone, @tablet, @desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;

    .nav-wrapper {
      margin: 0;
      position: fixed;
      border-radius: 5px;
      height: 120px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      img {
        .logo();
      }

      nav a {
        .btns();
      }
    }
    .profile {
      

      .boxes();
      display:flex;
      margin-top: 150px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      div{
        padding:10px;
        margin:20px;
      }
      
    }
    
    .content {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .recent-feed {
      width: 500px;
      .boxes();
    }
    .map {
      
     
      .boxes();
      width:100%;
      margin-top: 150px;
    }

    #myVideo {
      position: fixed;
      left: 0;
      top: 0;
      min-width: 100vw;
      min-height: 100vh;
      z-index: -1;
     
    }
  }
}