
// Color Vars

@HL:#8dba20; /*- Green -*/
@point:#f11212;/*- Red -*/
@innerBrdr:#12a0f1; /*- Blue -*/
@mBrd:#EEEEEE;  /*- Off White -*/
@mBKG:#333333; /*- Almost Black -*/
@boxBKG:#33333396; /*- Almost Black -*/





@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';